.card {
  background-color: #281e20 !important;
}

.card-title {
  color: white !important;
}

.btn {
  background-color: #791212 !important;
  border: white !important;
}

.MuiCard-root{
  background-color: #343d46 !important;
  color: white !important;

}
.MuiCardHeader-subheader{
  color: white !important;
}
.MuiTypography-body2{
  color: white !important;
}
.accordion-button{
  background-color: #791212 !important;
}